name: Metrics
on:
  schedule:
    - cron: 0 * * * *
  push: {}
  pull_request: {}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          repositories: 1000
          retries: 10
          repositories_affiliations: owner, collaborator
          base: ""
          plugin_achievements: true
          plugin_achievements_ignored: stargazer, developer, forker, member, explorer, automator, infographile, reviewer
          plugin_reactions: true
          plugin_reactions_limit: 1000
          plugin_topics: true
          plugin_topics_mode: icons
